.footer {
  background-color: white;
  color: black;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
}

.footer-info {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.social-icon {
  color: black;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #0077b5; /* LinkedIn blue as hover effect */
}

.social-icon:first-child:hover {
  color: gray; /* Facebook blue */
}

.social-icon:last-child:hover {
  color: #0088cc; /* Telegram blue */
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-social {
    margin-top: 10px;
  }
}
